---
import MainButton from "../../components/MainButton.astro";
import IconOpenAI from "../Icons/IconOpenAI.astro";

const currentPage = Astro.url.pathname;
const { onMainPage } = Astro.props;

const iconDimension = 20;

const CHECKLIST_CONFIG = {
  "notiuni_de_baza/programarea": {
    quiz: "programarea.json",
    gpt: "https://chat.openai.com/",
    gpt_questions: [
      "Ce este programarea?",
      "Cod sa desenez un patrat in p5.js",
      "Plan de invatare Javascript",
    ],
  },
  "notiuni_de_baza/sintaxa": {
    quiz: "structura.json",
    gpt: "https://chat.openai.com/",
    gpt_questions: [
      "Sintaxa unui limbaj de programare",
      "Cele mai importante cuvinte cheie in Javascript",
    ],
  },
  "notiuni_de_baza/operatori": {
    quiz: "operatori.json",
    exercise: "../exercitii/operatori",
    gpt: "https://chat.openai.com/",
    gpt_questions: [
      "Ce sunt expresiile in javascript",
      "Precedenta si asociativitatea operatorilor in Javascript",
    ],
  },
  "notiuni_de_baza/structuri-control": {
    quiz: "structuri-control.json",
    exercise: "../exercitii/structuri-control",
  },
  "notiuni_de_baza/tipuri-date": {
    quiz: "tipuri-date.json",
    exercise: "../exercitii/tipuri-date",
  },
  "notiuni_intermediare/functii": {
    quiz: "functii.json",
    exercise: "../exercitii/functii",
    gpt: "https://chat.openai.com/",
    gpt_questions: ["Exemple de functii predefinite in javascript"],
  },
  "notiuni_intermediare/vectori": {
    quiz: "vectori.json",
    exercise: "../exercitii/vectori",
    gpt: "https://chat.openai.com/",
    gpt_questions: [
      "Operatii uzuale pe vectori in javascript",
      "Cum pot sterge un element dintr-un vector",
    ],
  },
  "notiuni_intermediare/stringuri": {
    exercise: "../exercitii/stringuri",
    gpt: "https://chat.openai.com/",
    gpt_questions: ["Cum pot folosi stringuri in javascript?"],
  },
  "notiuni_intermediare/obiecte": {
    quiz: "obiecte.json",
    exercise: "../exercitii/obiecte",
    gpt: "https://chat.openai.com/",
    gpt_questions: [
      "Cum pot folosi obiectele in Javascript?",
      "Cum sunt transmise stringurile in functii in javascript?",
    ],
  },
  "notiuni_intermediare/scopuri": {
    quiz: "scopuri.json",
    gpt: "https://chat.openai.com/",
    gpt_questions: ["Ce reprezinta domeniul variabilelor in javascript?"],
  },
  "notiuni_avansate/grafuri": {    
    gpt: "https://chat.openai.com/",
    gpt_questions: ["Utilizari ale grafurilor", "Diferente intre grafurile orientate si neorientate", "Diferente intre DFS si BFS"],
  },
  "notiuni_avansate/arbori": {    
    gpt: "https://chat.openai.com/",
    gpt_questions: ["Utilizari ale arborilor binari", "utilizari ale arborilor binari de cautare"],
  },
};

const hasItem = (name) => {
  return (
    sanitizedCurrentPage in CHECKLIST_CONFIG &&
    name in CHECKLIST_CONFIG[sanitizedCurrentPage]
  );
};

const sanitizedCurrentPage = currentPage.replace(/\/$/, "").replace(/^\//, "");

const hasGpt = hasItem("gpt");
const hasGptQuestions = hasItem("gpt_questions");
const hasQuiz = hasItem("quiz");
const hasExercise = hasItem("exercise");
---

<div class={onMainPage ? "show-only-mobile" : "hide-mobile"}>
  {
    (hasGpt || hasQuiz || hasExercise) && (
      <span style="font-weight: 600; font-size: 21px;" class="text-slate-600">
        Activități:
      </span>
    )
  }

  <div class="content" style="display: flex; flex-direction: column;">
    {
      hasGpt && (
        <a
          href={CHECKLIST_CONFIG[sanitizedCurrentPage].gpt}
          target="_blank"
          rel="noopener"
        >
          <MainButton text>
            <IconOpenAI
              size={iconDimension}
              color="rgb(59 130 246 / var(--tw-text-opacity))"
            />
            <span class="button-activity">Discută cu GPT</span>
          </MainButton>
        </a>
      )
    }
    {
      hasGptQuestions && (
        <>
          <span class="suggestions">Sugestii de intrebări:</span>
          <ol class="mb-2">
            {CHECKLIST_CONFIG[sanitizedCurrentPage].gpt_questions.map((q) => {
              return <li class="suggested-question">{q}</li>;
            })}
          </ol>
        </>
      )
    }

    {
      hasExercise && (
        <a
          href={CHECKLIST_CONFIG[sanitizedCurrentPage].exercise}
          target="_blank"
          rel="noopener"
        >
          <MainButton text>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width={iconDimension}
              height={iconDimension}
              fill="currentColor"
              class="bi bi-keyboard"
              viewBox="0 0 16 16"
            >
              <path d="M14 5a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1h12zM2 4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2H2z" />
              <path d="M13 10.25a.25.25 0 0 1 .25-.25h.5a.25.25 0 0 1 .25.25v.5a.25.25 0 0 1-.25.25h-.5a.25.25 0 0 1-.25-.25v-.5zm0-2a.25.25 0 0 1 .25-.25h.5a.25.25 0 0 1 .25.25v.5a.25.25 0 0 1-.25.25h-.5a.25.25 0 0 1-.25-.25v-.5zm-5 0A.25.25 0 0 1 8.25 8h.5a.25.25 0 0 1 .25.25v.5a.25.25 0 0 1-.25.25h-.5A.25.25 0 0 1 8 8.75v-.5zm2 0a.25.25 0 0 1 .25-.25h1.5a.25.25 0 0 1 .25.25v.5a.25.25 0 0 1-.25.25h-1.5a.25.25 0 0 1-.25-.25v-.5zm1 2a.25.25 0 0 1 .25-.25h.5a.25.25 0 0 1 .25.25v.5a.25.25 0 0 1-.25.25h-.5a.25.25 0 0 1-.25-.25v-.5zm-5-2A.25.25 0 0 1 6.25 8h.5a.25.25 0 0 1 .25.25v.5a.25.25 0 0 1-.25.25h-.5A.25.25 0 0 1 6 8.75v-.5zm-2 0A.25.25 0 0 1 4.25 8h.5a.25.25 0 0 1 .25.25v.5a.25.25 0 0 1-.25.25h-.5A.25.25 0 0 1 4 8.75v-.5zm-2 0A.25.25 0 0 1 2.25 8h.5a.25.25 0 0 1 .25.25v.5a.25.25 0 0 1-.25.25h-.5A.25.25 0 0 1 2 8.75v-.5zm11-2a.25.25 0 0 1 .25-.25h.5a.25.25 0 0 1 .25.25v.5a.25.25 0 0 1-.25.25h-.5a.25.25 0 0 1-.25-.25v-.5zm-2 0a.25.25 0 0 1 .25-.25h.5a.25.25 0 0 1 .25.25v.5a.25.25 0 0 1-.25.25h-.5a.25.25 0 0 1-.25-.25v-.5zm-2 0A.25.25 0 0 1 9.25 6h.5a.25.25 0 0 1 .25.25v.5a.25.25 0 0 1-.25.25h-.5A.25.25 0 0 1 9 6.75v-.5zm-2 0A.25.25 0 0 1 7.25 6h.5a.25.25 0 0 1 .25.25v.5a.25.25 0 0 1-.25.25h-.5A.25.25 0 0 1 7 6.75v-.5zm-2 0A.25.25 0 0 1 5.25 6h.5a.25.25 0 0 1 .25.25v.5a.25.25 0 0 1-.25.25h-.5A.25.25 0 0 1 5 6.75v-.5zm-3 0A.25.25 0 0 1 2.25 6h1.5a.25.25 0 0 1 .25.25v.5a.25.25 0 0 1-.25.25h-1.5A.25.25 0 0 1 2 6.75v-.5zm0 4a.25.25 0 0 1 .25-.25h.5a.25.25 0 0 1 .25.25v.5a.25.25 0 0 1-.25.25h-.5a.25.25 0 0 1-.25-.25v-.5zm2 0a.25.25 0 0 1 .25-.25h5.5a.25.25 0 0 1 .25.25v.5a.25.25 0 0 1-.25.25h-5.5a.25.25 0 0 1-.25-.25v-.5z" />
            </svg>
            <span class="button-activity">Exersează</span>
          </MainButton>
        </a>
      )
    }
    {
      hasQuiz && (
        <a
          config-id={CHECKLIST_CONFIG[sanitizedCurrentPage].quiz}
          class="av-quiz"
        >
          <MainButton text>
            <svg
              class="button-svg"
              xmlns="http://www.w3.org/2000/svg"
              width={iconDimension}
              height={iconDimension}
              fill="currentColor"
              class="bi bi-patch-question"
              viewBox="0 0 16 16"
            >
              <path d="M8.05 9.6c.336 0 .504-.24.554-.627.04-.534.198-.815.847-1.26.673-.475 1.049-1.09 1.049-1.986 0-1.325-.92-2.227-2.262-2.227-1.02 0-1.792.492-2.1 1.29A1.71 1.71 0 0 0 6 5.48c0 .393.203.64.545.64.272 0 .455-.147.564-.51.158-.592.525-.915 1.074-.915.61 0 1.03.446 1.03 1.084 0 .563-.208.885-.822 1.325-.619.433-.926.914-.926 1.64v.111c0 .428.208.745.585.745z" />
              <path d="m10.273 2.513-.921-.944.715-.698.622.637.89-.011a2.89 2.89 0 0 1 2.924 2.924l-.01.89.636.622a2.89 2.89 0 0 1 0 4.134l-.637.622.011.89a2.89 2.89 0 0 1-2.924 2.924l-.89-.01-.622.636a2.89 2.89 0 0 1-4.134 0l-.622-.637-.89.011a2.89 2.89 0 0 1-2.924-2.924l.01-.89-.636-.622a2.89 2.89 0 0 1 0-4.134l.637-.622-.011-.89a2.89 2.89 0 0 1 2.924-2.924l.89.01.622-.636a2.89 2.89 0 0 1 4.134 0l-.715.698a1.89 1.89 0 0 0-2.704 0l-.92.944-1.32-.016a1.89 1.89 0 0 0-1.911 1.912l.016 1.318-.944.921a1.89 1.89 0 0 0 0 2.704l.944.92-.016 1.32a1.89 1.89 0 0 0 1.912 1.911l1.318-.016.921.944a1.89 1.89 0 0 0 2.704 0l.92-.944 1.32.016a1.89 1.89 0 0 0 1.911-1.912l-.016-1.318.944-.921a1.89 1.89 0 0 0 0-2.704l-.944-.92.016-1.32a1.89 1.89 0 0 0-1.912-1.911l-1.318.016z" />
              <path d="M7.001 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0z" />
            </svg>
            <span class="button-activity">Quizz!</span>
          </MainButton>
        </a>
      )
    }
  </div>

  <style scoped>
    .show-only-mobile {
      display: none;
    }

    .hide-mobile {
      display: flex;
      flex-direction: column;
    }

    @media (max-width: 968px) {
      .show-only-mobile {
        display: flex;
        flex-direction: column;
      }
      .hide-mobile {
        display: none;
      }
    }

    .suggestions {
      font-style: normal;
      font-size: smaller;
    }

    .suggested-question {
      font-size: 80%;
      font-style: italic;
      margin-top: 0 !important;
    }

    .button-activity {
      margin-left: 5px;
    }
  </style>
</div>
