---
import "bootstrap/dist/css/bootstrap.min.css";
import "../../public/assets/styles/av-wp-styles.css";
import "../../public/assets/styles/av-styles.css";
import "../styles/main.scss";

import { Picture, Image } from "@astrojs/image/components";
import astronautImage from "../../public/assets/imgs/astronaut.png";
import jsImage from "../../public/assets/imgs/javascript-logo.png";

import HeadCommon from "../components/HeadCommon.astro";
import ScriptsCommon from "../components/ScriptsCommon.astro";

import HeadSEO from "../components/HeadSEO.astro";
import MainButton from "../components/MainButton.astro";
import Algovis from "../components/Content/Algovis.astro";
import Counters from "../components/Header/Counters.astro";
import IconOpenAI from "../components/Icons/IconOpenAI.astro";
import FeedbackForm from "../components/FeedbackForm.astro";

import * as CONFIG from "../config";

const { content = {} } = Astro.props;

const widthsAstronaut = [450, 800];
const sizesAstronaut = "(min-width: 640px) 42vw, 67vw";
const sizesJSLogo = "(min-width: 40px) 8vw, 12vw";
---

<html dir={content.dir ?? "ltr"} lang={content.lang ?? "en-us"} class="initial">
  <head>
    <meta charset="UTF-8" />
    <HeadCommon />
    <HeadSEO {content} canonicalURL={new URL(Astro.url.pathname, Astro.site)} />
    <title>
      {
        content.title
          ? `${content.title} 🚀 ${CONFIG.SITE.title}`
          : CONFIG.SITE.title
      }
    </title>
    <style>
      .bi-large {
        font-size: 3em;
      }

      .bi-x-large {
        font-size: 3em;
      }
      .gradient-text {
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        background-image: linear-gradient(
          to bottom right,
          var(--tw-gradient-stops)
        );
        --tw-gradient-from: #6366f1 var(--tw-gradient-from-position);
        --tw-gradient-to: rgb(99 102 241 / 0) var(--tw-gradient-to-position);
        --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
        --tw-gradient-to: rgb(217 70 239 / 0) var(--tw-gradient-to-position);
        --tw-gradient-stops: var(--tw-gradient-from),
          #47a5f3 var(--tw-gradient-via-position), var(--tw-gradient-to);
        --tw-gradient-to: #03f3d4 var(--tw-gradient-to-position);
        /*#ec4899 var(--tw-gradient-to-position);*/
      }
    </style>
  </head>
  <body style="background: aliceblue;">
    <div class="text-center">
      <header class="p-2 px-4 bg-gradient-to-br from-slate-700 to-black">
        <div class="relative grid h-full place-items-center sm:grid-cols-2">
          <div
          id="astronaut"
          class="w-2/3 max-w-3xl self-start sm:w-10/12 sm:self-auto sm:justify-self-start"
          style="display: flex; align-items: center;"
        >
          <Picture
            class="object-cover"
            style={"position: absolute; left: 5em; transform: rotate(350deg);"}
            src={jsImage}
            widths={widthsAstronaut}
            sizes={sizesJSLogo}
            loading="eager"
            alt="A floating astronaut in a space suit"
          />

          <Picture
            class="h-full w-full object-cover"
            src={astronautImage}
            widths={widthsAstronaut}
            sizes={sizesAstronaut}
            loading="eager"
            alt="A floating astronaut in a space suit"
          />
        </div>
          <div
            class="flex flex-col self-start sm:gap-4 sm:self-auto sm:justify-self-start"
          >
            <svg
              style="transform: rotate(26deg);"
              fill="none"
              viewBox="0 0 627 894"
              class="h-24 text-white md:h-32"
              astro-icon="logomark"
              ><path
                fill="currentColor"
                fill-rule="evenodd"
                d="M445.433 22.983c7.289 9.05 11.006 21.26 18.44 45.682l162.408 533.511a675.855 675.855 0 0 0-194.166-65.737l-105.744-357.34a13.763 13.763 0 0 0-26.408.041L195.5 536.259A675.821 675.821 0 0 0 .46 602.095L163.663 68.541c7.457-24.38 11.186-36.57 18.476-45.602A59.994 59.994 0 0 1 206.454 4.95C217.224.622 229.971.622 255.466.622h116.568c25.528 0 38.292 0 49.072 4.338a60.004 60.004 0 0 1 24.327 18.023Z"
                clip-rule="evenodd"></path><path
                fill="#FF5D01"
                fill-rule="evenodd"
                d="M464.867 627.566c-26.773 22.894-80.212 38.507-141.766 38.507-75.55 0-138.872-23.52-155.675-55.152-6.007 18.129-7.354 38.877-7.354 52.131 0 0-3.958 65.082 41.308 110.349 0-23.505 19.055-42.559 42.559-42.559 40.287 0 40.242 35.148 40.205 63.664l-.002 2.545c0 43.282 26.453 80.385 64.073 96.024-5.619-11.557-8.771-24.535-8.771-38.25 0-41.28 24.235-56.65 52.401-74.514 22.41-14.213 47.31-30.004 64.47-61.682 8.953-16.528 14.037-35.459 14.037-55.577 0-12.372-1.922-24.295-5.485-35.486Z"
                clip-rule="evenodd"></path></svg
            >
            <div
              class="gradient-text text-center font-extrabold1 tracking-tighter text-8xl1"
            >
              <h1 class="text-white text-4xl font-medium drop-shadow-sm">
                <span>primii pași în informatică pe fast-forward</span>
              </h1>
              <p class="text-lg mt-8 text-slate-300">
                Vezi cum funcționează un program 'pe interior' rulând fiecare
                instrucțiune pas cu pas. În ritmul tău.
              </p>

              <Counters />
              
              <div class="pt-6 gap-2" style="display: flex; justify-content: center;">
                <MainButton primary>
                  <a href="notiuni_de_baza/programarea">Mergi la prima lecție</a>
                </MainButton>

                <MainButton secondary id="btnFeedbackFrom">          
                  <span>Spune-ne părerea ta!</span>
                </MainButton>
              </div>
            </div>
          </div>

        </div>        

        <div class="my-16"></div>
      </header>

      <nav class="content my-4">
        <ul
          class="grid grid-cols-3 gap-2"
          style="width: 100%; margin: 0px;"
        >
          <div
            class="flex flex-col bg-white rounded-md hover:-translate-y-1 hover:shadow-lg transition-all flex-1 items-center p-4"
          >
            <i class="gradient-text bi bi-1-square-fill bi-large"></i>
            <i class="bi bi-book bi-x-large"></i>
            <span class="text-lg font-medium">citește materialele</span>
          </div>

          <div
            class="flex flex-col bg-white rounded-md hover:-translate-y-1 hover:shadow-lg transition-all flex-1 items-center p-4"
          >
            <i class="gradient-text bi bi-2-square-fill bi-large"></i>
            <i class="bi bi-camera-reels bi-x-large"></i>
            <span class="text-lg font-medium">urmărește video-urile</span>
          </div>

          <div
            class="flex flex-col bg-white rounded-md hover:-translate-y-1 hover:shadow-lg transition-all flex-1 items-center p-4"
          >
            <i class="gradient-text bi bi-3-square-fill bi-large"></i>
            <i class="bi mt-6 mb-2"><IconOpenAI size="50" /></i>
            <span class="text-lg font-medium">aprofundează cu ChatGPT</span>
          </div>
        </ul>
      </nav>

      <nav class="content mt-4" style="background: white;">
        <ul class="flex text-center flex-col" style="align-items: center;">
          <i class="gradient-text bi bi-4-square-fill bi-large"></i>
          <span class="text-lg font-medium"
            >rulează exemplele pas cu pas și înțelege cum funcționează
          </span>
        </ul>
        <div class="p-4">
          <Algovis is:raw>
function calculeazaFactorial(n) {
    let factorial = 1;
    for (let i = 1; i <= n; i++) {
        factorial *= i;
    }
    return factorial;
}

function ridicaLaPatrat(arr) {
    for (let i = 0; i < arr.length; i++) {
        arr[i] = arr[i] * arr[i];
    }
}

let numar = 5;
let result = calculeazaFactorial(numar);
console.log(`Factorialul lui ${numar} este ${result}`);

let vectorNr = [1, 2, 3, 4, 5];

console.log("Array original:", vectorNr);
ridicaLaPatrat(vectorNr);
console.log("Array la puterea a 2a:", vectorNr);          
          </Algovis>
        </div>
      </nav>

      <nav class="content mt-4" style="">
        <ul
          class="grid grid-cols-2 gap-2"
          style="width: 100%; margin: 0px;"
        >
          <div
            class="flex flex-col bg-white rounded-md hover:-translate-y-1 hover:shadow-lg transition-all flex-1 items-center p-4"
          >
            <i class="gradient-text bi bi-5-square-fill bi-large"></i>
            <i class="bi bi-braces bi-x-large"></i>
            <span class="text-lg font-medium">rezolvă exercițiile propuse</span>
          </div>

          <div
            class="flex flex-col bg-white rounded-md hover:-translate-y-1 hover:shadow-lg transition-all flex-1 items-center p-4"
          >
            <i class="gradient-text bi bi-6-square-fill bi-large"></i>
            <i class="bi bi-mortarboard bi-x-large"></i>
            <span class="text-lg font-medium">răspunde la quizz-uri</span>
          </div>
        </ul>
      </nav>

      <nav class="content mt-4 pb-8" style="background: white;">
        <ul class="flex text-center flex-col" style="align-items: center;">
          <i class="bi-large">🎉</i>
          <span class="text-lg font-medium mb-4">crează ceva nou</span>
          <a class="mb-4" href="https://editor.p5js.org/" target="_blank" rel="noopener">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="56" height="42" viewBox="0 0 56 42" role="img" aria-label="p5.js Logo" focusable="false" class="svg__logo"><defs><path id="a" d="M0 0h36v36H0z"></path><path id="b" d="M0 0h36v36H0z"></path></defs><g fill="none" fill-rule="evenodd"><path fill="#ED225D" d="M0 0h56v42H0z"></path><g transform="translate(10)"><use fill="#FFF" xlink:href="#a"></use><path stroke="#979797" d="M.5.5h35v35H.5z"></path></g><path fill="#ED225D" d="M21.025 20.617a2.826 2.826 0 0 0-.941-.795c-.38-.201-.824-.302-1.334-.302-.481 0-.912.104-1.29.314-.38.209-.704.478-.974.805-.27.329-.474.702-.612 1.12a3.85 3.85 0 0 0 0 2.496c.138.411.342.78.612 1.109.27.328.594.593.974.794.378.202.809.302 1.29.302.51 0 .955-.104 1.334-.313.38-.209.693-.477.94-.806.248-.328.434-.701.559-1.12a4.283 4.283 0 0 0 0-2.497c-.125-.409-.31-.778-.558-1.107"></path><g transform="translate(10)"><mask id="c" fill="#fff"><use xlink:href="#b"></use></mask><path fill="#ED225D" d="M32.75 16.44l-.989.717-1.026-1.361-1.001 1.326-.963-.734.975-1.337-1.582-.571.374-1.15 1.586.511v-1.644h1.273v1.647l1.574-.476.373 1.15-1.57.536.975 1.385zm-7.045 8.959a5.208 5.208 0 0 1-1.25 1.769c-.524.481-1.139.85-1.844 1.105a6.559 6.559 0 0 1-2.25.383c-1.334 0-2.46-.312-3.374-.936a5.238 5.238 0 0 1-1.533-1.614l1.953-1.835.03-.01a3.14 3.14 0 0 0 1.125 1.52c.525.384 1.147.576 1.867.576.405 0 .787-.068 1.147-.204.36-.134.675-.33.945-.585.27-.256.484-.575.641-.958.158-.383.237-.815.237-1.296 0-.616-.106-1.127-.315-1.533a2.775 2.775 0 0 0-.821-.98 3.075 3.075 0 0 0-1.136-.519 5.634 5.634 0 0 0-1.282-.146c-.3 0-.619.022-.957.067-.337.046-.667.11-.99.192-.322.083-.637.177-.944.281a6.717 6.717 0 0 0-.821.338l.27-8.722h9.065v2.434h-6.501l-.157 3.449c.254-.075.558-.128.91-.158.353-.03.672-.045.957-.045.78 0 1.503.112 2.17.338a5.15 5.15 0 0 1 1.744.98c.495.429.88.955 1.158 1.578.278.624.416 1.341.416 2.153 0 .887-.153 1.679-.46 2.378zm-11.601-.36a5.504 5.504 0 0 1-1.058 1.825 5.08 5.08 0 0 1-1.664 1.24c-.653.307-1.392.462-2.216.462a4.678 4.678 0 0 1-2.103-.474c-.638-.315-1.13-.743-1.474-1.285h-.045v6.853h-2.7V17.43h2.588v1.51h.067c.135-.21.311-.424.529-.642.217-.218.484-.413.799-.587a4.908 4.908 0 0 1 2.407-.597c.764 0 1.469.147 2.114.44.645.293 1.2.695 1.665 1.206a5.465 5.465 0 0 1 1.08 1.803c.254.691.382 1.435.382 2.231 0 .797-.124 1.544-.371 2.243zM0 36.07h36V0H0v36.071z" mask="url(#c)"></path></g></g></svg>
          </a>
        </ul>
        <div class="mx-4">
          <script type="text/p5" data-autoplay1 data-height="600">
function setup() {
  createCanvas(710, 400, WEBGL);
}

function draw() {
  background(255);
  rotateY(frameCount * 0.01);

  for (let j = 0; j < 5; j++) {
    push();
    for (let i = 0; i < 80; i++) {
      translate(
        sin(frameCount * 0.001 + j) * 100,
        sin(frameCount * 0.001 + j) * 100,
        i * 0.1
      );
      rotateZ(frameCount * 0.002);
      push();
      sphere(8, 6, 4);
      pop();
    }
    pop();
  }
}
          </script>
        </div>
      </nav>
    </div>

    <ScriptsCommon />
    <style>
      @keyframes float {
        0% {
          transform: translate3d(0, 0, 0) scale(1);
        }

        100% {
          transform: translate3d(0, 50px, 0) scale(1.1);
        }
      }

      #astronaut {
        animation: float linear 10.5s infinite alternate;
      }

      @media (prefers-reduced-motion: reduce) {
        #astronaut {
          @apply animate-none;
        }

        :global(#starfield) {
          @apply hidden;
        }

        #splash-bg-fallback {
          @apply block;
        }
      }
    </style>

    <FeedbackForm />
  </body>
</html>
