---
const { src, inline, data_height = 300, title = "#play.box", data_autoplay = false } = Astro.props;

const scriptPath = "../assets/p5snippets/" + src;

const data_src_id = Math.random().toString(36).replace(/[^a-z]+/g, "").slice(2, 10);
---
<div class="mb-3 mt-6" style="font-size: 21px; font-weight: 500; font-style: italic">{title}</div>

{
    src && !inline && (
        <script src={scriptPath} type="text/p5" data-preview-width="400" data-autoplay={data_autoplay}/>
    )
}

{src && inline && <script src={scriptPath} type="text/javascript" data-autoplay={data_autoplay}/>}

{
    !src && (
        <script data-src={data_src_id} data-height={data_height} data-autoplay={data_autoplay}></script>
        <div data-src={data_src_id}>            
            <slot />            
        </div>
    )
}

<script>
addEventListener("load", () => {
    for (let div of document.querySelectorAll("div[data-src]")) {
        let script_content = div.textContent.trim();
        div.remove();

        if (!script_content)
            continue;        

        let scr = document.querySelector(`script[data-src="${div.getAttribute("data-src")}"]`) as HTMLScriptElement;
        scr.removeAttribute("data-src");
        scr.setAttribute("type", "text/p5");        
        scr.text = script_content;
        
        if (div.hasAttribute('data-height')) {
            scr.setAttribute('data-height', div.getAttribute('data-height'));
        }

        window['p5Widget'].replaceScript(scr);
    }
    });
</script>
